doctype
html(lang="en")
    head
        meta(charset="utf-8")
        block title
            title Buttons
        meta(name="description" content=" ")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

        // CSS

        // Fonts
        link(rel="stylesheet" href="css/font-awesome.min.css")

        // Site Styles
        link(rel="stylesheet" href="css/buttons/styles.css")

    body
        // Header block begin
        header

        // Header block end
        main
            block content

        footer.footer




